In [1]:
import pandas_datareader as pdr

In [3]:
df = pdr.get_data_yahoo('BABA')

In [5]:
df.shape

(802, 6)

In [6]:
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-09-19  92.699997  99.699997  89.949997  93.889999  93.889999  271879400
2014-09-22  92.699997  92.949997  89.500000  89.889999  89.889999   66657800
2014-09-23  88.940002  90.480003  86.620003  87.169998  87.169998   39009800
2014-09-24  88.470001  90.570000  87.220001  90.570000  90.570000   32088000
2014-09-25  91.089996  91.500000  88.500000  88.919998  88.919998   28598000